body {
    background-image: url("../Images/background_login.jpg");
}
h2 {
    color: #58257b
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e9d8f4;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: #db7093;
    font-weight: bold;
}